{% extends 'base.html.twig' %}

{% block title %}Create Trips | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Créer une sortie !</h2>

            {{ form_start(tripForm) }}
            {{ form_row(tripForm.nom) }}
            {{ form_row(tripForm.infosSortie) }}
            {{ form_row(tripForm.dateDebut) }}
            {{ form_row(tripForm.duree) }}
            {{ form_row(tripForm.dateLimiteInscription) }}
            {{ form_row(tripForm.maxInscriptions) }}

    <button class="btn btn-primary mt-3">Let's go</button>
    {{ form_end(tripForm) }}

{% endblock %}



