<nav class="d-flex flex-wrap  py-3 mb-4 border-bottom">
    <ul class="nav me-auto">
        <li>
            <a href="{{ path('main_home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none">
                <span class="fs-4 text-primary">Trips</span>
            </a>
        </li>
        {% if app.user %}
        <li class="nav-item"><a href="{{ path('trips_list') }}" class="nav-link">Les Sorties</a></li>
        <li class="nav-item"><a href="{{ path('trips_create') }}" class="nav-link">Créer une sortie</a></li>

        {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item"><a href="{{ path('villes') }}" class="nav-link">Villes</a></li>
        <li class="nav-item"><a href="{{ path('campus_list') }}" class="nav-link">Campus</a></li>
        {% endif %}
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="{{ path('main_home') }}" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter ({{ app.user.pseudo }})</a></li>
        {% else %}
            <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">S'inscrire</a></li>
            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se Connecter</a></li>
        {% endif %}
    </ul>
</nav>